vscode输出数据不是很方便，考虑之后的数据处理以及机器学习，使用jupyter方便些

数据离散化、面元划分

In [193]:
import numpy as np
import pandas as pd
import re

In [ ]:
ages = np.random.randint(10,60,size=(10))
ages

In [ ]:
#面元 bin
bins = [10,25,35,40,60]

In [ ]:
cats = pd.cut(ages,bins)
cats.codes #进行划分

In [ ]:
cats.categories

In [ ]:
pd.value_counts(cats)

In [ ]:
pd.cut(ages,[10,25,35,40,60],right=False)

In [ ]:
bins = [10,25,35,40,60]
kind = ['青少年','青年','中年','中老年']
pd.cut(ages,bins,labels=kind) #给每个阶段贴标签kind

In [ ]:
data = np.random.rand(20)
pd.cut(data,4,precision=2) #分成4份，小数保留2位

In [ ]:
#qcut 适用量划分
data = np.random.randn(1000)
cats = pd.qcut(data,4) #使用qcut划分 默认等比例 即等4份
pd.value_counts(cats) #查看每组数量

In [ ]:
cats = pd.qcut(data,[0,0.1,0.5,0.9]) #按照区间比列划分数量
pd.value_counts(cats)

In [ ]:
data = pd.DataFrame(np.random.random(20).reshape(5,4))
data

In [ ]:
sam = np.random.permutation(5) #新顺序
sam

In [ ]:
data.take(sam)

In [ ]:
data.sample(3) #随机选择3行

In [ ]:
ch = pd.Series([5,7,6,3,2])
ch

In [ ]:
ch.sample(n=10,replace=True) #从ch随机选择10个，可以重复选择

字符串对象方法

In [ ]:
var = 'a,b, c'
var.split(',') #逗号分隔

In [ ]:
p = [x.strip() for x in var.split(',')] #   去除空白符，包括\n
p

In [ ]:
'::'.join(p) #使用：：拼接
var.replace(',','::')

In [ ]:
#寻找index
var.find('a')#不存在时返回-1
var.index('b')#不存在时报错

In [ ]:
text = "foo bar\t bat \tgg"
re.split('\s+',text) #以空白或者制表符\t当作分隔符

In [ ]:
res = re.compile('\s+') #res能够编译\s+
res.split(text) #用res的编译能力分割text

In [ ]:
re.split(res,text) #利用res作为分隔条件来分割text 和上一个cell效果一样

In [ ]:
res.findall(text)
re.findall(res,text) #效果一样

In [ ]:
re.sub(res,'9',text)#在text中替换符合res的值为9

In [ ]:
text.replace('\s+','9')#这种方法不能编译\s+

In [ ]:
data = np.random.randn(100)
a = np.linspace(20,80,10).astype('i1') #十等份20到80的整型数字
for x in np.arange(10):
    data[a[x]] = np.nan  #这些伪随机位置赋予nan
data.resize(20,5) #resize直接改变原数据 reshape不改变
b = pd.DataFrame(data)
#查看哪些列含有多有nan
c = b.isnull().sum(axis='index')
#删掉0列含有nan的行
b.dropna(subset=[0],inplace=True)
b

merge 数据合并    
np.concatenate    
pd.concat    
join

In [ ]:
l = {'a':[1,2,3,4],'b':[5,4,4,5],'key':['张三','王四','赵四','刘八']}
r = {'c':[666,7,666,444],'d':[533,214,224,675],'key':['张三','王四','赵四','刘']}
left = pd.DataFrame(l)
right = pd.DataFrame(r)
print(left)
print(right)

In [200]:
pd.merge(left,right,on='key',how='outer')
 #默认内连接how='inner':如果value相同保留，不相同的全部删除。指定链接key,指定左连接how=xxx，右边不存在的key值作nan
 #suffixes ：增加后缀，方便看

     a    b key      c      d
0  1.0  5.0  张三  666.0  533.0
1  2.0  4.0  王四    7.0  214.0
2  3.0  4.0  赵四  666.0  224.0
3  4.0  5.0  刘八    NaN    NaN
4  NaN  NaN   刘  444.0  675.0

In [214]:
left2 = pd.DataFrame({'英语':[1,4,5],'数学':[2,5,3]},index=['a','c','e'])
right2 = pd.DataFrame({'语文':[4,5,7],'地理':[5,7,8]},index=['c','f','b'])

In [215]:
pd.merge(left2,right2,how='outer',left_index=True,right_index=True)

    英语   数学   语文   地理
a  1.0  2.0  NaN  NaN
b  NaN  NaN  7.0  8.0
c  4.0  5.0  4.0  5.0
e  5.0  3.0  NaN  NaN
f  NaN  NaN  5.0  7.0

In [203]:
a = left2.join(right2,how='outer')
#和上一cell相同效果
#join方法不能出现相同列名

In [207]:
a

    英语   数学   语文   地理
a  1.0  2.0  NaN  NaN
b  NaN  NaN  7.0  8.0
c  4.0  5.0  4.0  5.0
e  5.0  3.0  NaN  NaN
f  NaN  NaN  5.0  7.0

In [ ]:
#斗胆有个想法，我知道肯定有人在做，但肯定更多的人失败了
#有一些自己的想法
#如果采用拟合算法进行机器学习，自己输出代码，岂不是很好吗，采用决策树，来决定输出，首先要有一个很强的代码库，我很愿意做这个
#重复造轮子我们避免不了，但是至少也要重复造更大的轮子吧！