vscode输出数据不是很方便，考虑之后的数据处理以及机器学习，使用jupyter方便些

数据离散化、面元划分

In [57]:
import numpy as np
import pandas as pd
import re

In [ ]:
ages = np.random.randint(10,60,size=(10))
ages

In [ ]:
#面元 bin
bins = [10,25,35,40,60]

In [ ]:
cats = pd.cut(ages,bins)
cats.codes #进行划分

In [ ]:
cats.categories

In [ ]:
pd.value_counts(cats)

In [ ]:
pd.cut(ages,[10,25,35,40,60],right=False)

In [ ]:
bins = [10,25,35,40,60]
kind = ['青少年','青年','中年','中老年']
pd.cut(ages,bins,labels=kind) #给每个阶段贴标签kind

In [ ]:
data = np.random.rand(20)
pd.cut(data,4,precision=2) #分成4份，小数保留2位

In [ ]:
#qcut 适用量划分
data = np.random.randn(1000)
cats = pd.qcut(data,4) #使用qcut划分 默认等比例 即等4份
pd.value_counts(cats) #查看每组数量

In [ ]:
cats = pd.qcut(data,[0,0.1,0.5,0.9]) #按照区间比列划分数量
pd.value_counts(cats)

In [ ]:
data = pd.DataFrame(np.random.random(20).reshape(5,4))
data

In [ ]:
sam = np.random.permutation(5) #新顺序
sam

In [ ]:
data.take(sam)

In [ ]:
data.sample(3) #随机选择3行

In [ ]:
ch = pd.Series([5,7,6,3,2])
ch

In [ ]:
ch.sample(n=10,replace=True) #从ch随机选择10个，可以重复选择

字符串对象方法

In [ ]:
var = 'a,b, c'
var.split(',') #逗号分隔

In [ ]:
p = [x.strip() for x in var.split(',')] #   去除空白符，包括\n
p

In [ ]:
'::'.join(p) #使用：：拼接
var.replace(',','::')

In [41]:
#寻找index
var.find('a')#不存在时返回-1
var.index('b')#不存在时报错

2

In [43]:
text = "foo bar\t bat \tgg"
re.split('\s+',text) #以空白或者制表符\t当作分隔符

['foo', 'bar', 'bat', 'gg']

In [45]:
res = re.compile('\s+') #res能够编译\s+
res.split(text) #用res的编译能力分割text

['foo', 'bar', 'bat', 'gg']

In [46]:
re.split(res,text) #利用res作为分隔条件来分割text 和上一个cell效果一样

['foo', 'bar', 'bat', 'gg']

In [47]:
res.findall(text)
re.findall(res,text) #效果一样

[' ', '\t ', ' \t']

In [54]:
re.sub(res,'9',text)#在text中替换符合res的值为9

'foo9bar9bat9gg'

In [53]:
text.replace('\s+','9')#这种方法不能编译\s+

'foo bar\t bat \tgg'

In [136]:
data = np.random.randn(100)
a = np.linspace(20,80,10).astype('i1') #十等份20到80的整型数字
for x in np.arange(10):
    data[a[x]] = np.nan  #这些伪随机位置赋予nan
data.resize(20,5) #resize直接改变原数据 reshape不改变
b = pd.DataFrame(data)
#查看哪些列含有多有nan
c = b.isnull().sum(axis='index')
#删掉0列含有nan的行
b.dropna(subset=[0],inplace=True)
b

           0         1         2         3         4
0  -0.759812  0.102513  0.724094  2.249054 -1.810513
1   0.650468  0.239158 -1.002448 -0.725793  0.047743
2   0.064070 -0.702113 -1.085077  2.952682 -0.080834
3  -0.625974 -0.235528 -0.926395 -0.680645 -0.026904
5  -1.160660       NaN  0.315040 -0.965889  0.004573
6   1.289678 -1.349608  0.855155       NaN -1.164714
7   0.848364 -0.157625 -1.285718  1.361947 -1.034708
9   0.136272       NaN -0.077283  1.638049  1.695129
10  0.285787 -1.894139 -1.032451       NaN  0.418540
11 -0.214637  0.968143 -0.541815 -0.986822  0.368428
13 -0.790525       NaN -0.950279  1.446046 -0.812967
14 -1.224560 -0.771225 -2.306126       NaN -1.246993
15 -1.327476  0.808412  0.221662 -0.781614  1.610875
17  0.121353  0.725412  0.614657  0.699307 -0.213304
18 -0.583036 -0.531335  1.107067 -0.007803 -0.190654
19 -0.347767  1.960827  1.162072  0.061123 -0.206173